body {
  background-color: white;
  margin: 0;
  padding: 0;
}

.heading {
  color: black;
  padding-top: 50px;
  font-weight: bold;
  text-align: center;
}

.image {
  height: 250px;
  width: 300px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 20px;

}

.btn {
  background-color: gray;
  height: 35px;
  border-radius: 12px;
}



.btn:hover {
  background-color: orange
}

.input {
  height: 35px;
  width: 400px;
}

.instruction {
  font-size: large;
  text-align: center;

}

.flex-containers {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.valid {
  height: 35px;
  width: 400px;
}

.bgimg {
  font-size: x-large;
  font-weight: bold;
}

.hide {
  display: none;
}